@use './partials/variables' as *;
@import 'node_modules/bootstrap/scss/bootstrap';

header {
    background-color: #161d20;
    color: #198754;

    .logo {
        width: 100px;
        height: 100px;
    }

    ul {
        li {
            margin: 20px;
            color: #198754;
            cursor: pointer;

            &:hover {
                color: #2ed386;
            }

            a {
                text-decoration: none;
                color: #198754;

                &:hover {
                    color: #2ed386;
                }
            }
        }
    }
}

footer {
    background-color: #161d20;
    color: #fff;

    h2,
    h4 {
        color: #198754;
    }

    ul {
        li {
            padding: 5px;
            cursor: pointer;

            &:hover {
                color: #198754;
            }

            i {
                font-size: 30px;
            }
        }
    }
}